<div class="card">
                <img src ="https://placeimg.com/640/480/tech/grayscale" class="card-img-top" />
                <div class="card-body">
                    <h5>
                        Photo Item
                    </h5>
                    <p class="card-text">
                        Description
                    </p>
                    <a class="btn btn-primary"
                    asp-action="DisplayPhoto"
                    asp-controller="Photo"
                    asp-route-id="@Model.PhotoId">
                        Chi tiet
                    </a>
                </div>
            </div>