
@{
    ViewData["Title"] = "DisplayPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <partial name="_PhotoGallery" />
    </div>
</div>

@for (int i = 0; i < 5; i++)
{
    <div class="d-flex">
        <img src="https://placeimg.com/640/480/animals/grayscale" alt="..." class="rounded-circle">
    </div>
    <div class="flex-grow-1 ms-3">
        <h5>User @i</h5>
        <p>Comment body @i</p>
    </div>
}

