
@model Photo
@{
    ViewData["Title"] = "DisplayPhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12 col-md-6 offset-md-3">
        <partial name="_PhotoGallery" model="Model"/>
    </div>
</div>

@await Component.InvokeAsync("DisplayComments", new { photoId = Model.PhotoId })